body {
  margin: 0;
  padding: 1rem;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
